.product{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap:30px;
}


@media (max-width: 800px){
  .product{
    grid-template-columns: 1fr;
  }

  .product-gallery{
    grid-row: 2;
  }
}


.product-gallery{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
}



@media (max-width: 800px){
  .product-gallery{
    grid-template-columns: 1fr;
    
  }
  .product-gallery-list{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 20px;

  }

  .product-gallery-list img{
    max-width: 100px;
    margin: 0 10px;
  }
}



.product-gallery-list img{
  margin-bottom: 20px;

}


.product-datail small{
  display: block;
  color: rgba(0,0,0,0.5);
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}


.product-datail h1{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.product-datail h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.product-datail .product-price{
  margin-bottom: 20px;
  font-weight: bold;
}

.product-datail .button{
  background-color: black;
  color: white;
  padding: 12px 15px;
  min-width: 200px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product-datail .button::after{
  content: '';
  margin-left: 15px;
  display: block;
  background: url('../img/icons/add.svg') no-repeat center center;
  width: 16px;
  height: 16px;
  transition: .5s;
}

.product-datail .button.disabled{
  opacity: .5  !important;
  cursor: initial !important;
}

.product-datail .button:hover::after{
  transform:  rotate(180deg);
}


.product-datail .variations tr{
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.product-datail select{
  font-size: 1rem;
}

.product-datail .reset_variations{
  display: none !important;
}

.product-datail .stock{
  margin-bottom: 10px;
}

.quantity{
  display: none !important;
}


@media (max-width: 800px){
  .product-datail h1{
    margin-bottom: 20px;
  }
}

.notificacao{
  margin: 20px auto !important;
}


