/* GERAL */

 


/* NOTIFICAÇÕES */

.woocommerce-message, .woocommerce-info, .woocommerce-error{
  background-color: #eee;
  border: none;
  color: black;
  padding: 15px 20px;
}

.woocommerce-message::before , .woocommerce-info::before, .woocommerce-error::before{
  display: none;

}

.woocommerce-error{
  border-left:  4px solid orangered;
}

.woocommerce-message, .woocommerce-info{
  border-left:  4px solid olivedrab;
}



/*FORMULARIOS*/


.woocommerce .input-text{
  font-size: 1.125rem !important;
  border: 1px solid rgba(0, 0, 0, .08) !important;
  background-color: (0, 0, 0, .08) !important;
}


.wc-block-cart-items__header-image span{
  font-size: 1.125rem;
  color:#1e1e1e;
}

.wc-block-cart-items__header-total span{
  font-size: 1.125rem;
  color:#1e1e1e;
}

.wp-block-woocommerce-cart-order-summary-block h2{
  font-size: 1.125rem !important;
  color:#1e1e1e !important;
} 


#wc-block-components-totals-coupon__input-coupon:focus{
  outline: 0;
}


/* PAG SEGURO*/

#pagseguro-payment-form{
  border: none;
}

#payment div.payment_box::-webkit-input-placeholder{
  color: #eee;
}



/* MINHA CONTA*/

.woocommerce-account h2{
  font-size: 1.25rem;
  margin: 10px 0;
}



.woocommerce-account.logged-in .woocommerce{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;
}

@media (max-width:800px){
  .woocommerce-account.logged-in .woocommerce{
    grid-template-columns: 1fr;
  }
}

.woocommerce-account.logged-in .woocommerce::before,
.woocommerce-account.logged-in .woocommerce::after{
  display: none;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation,
.woocommerce-account.logged-in .woocommerce-MyAccount-content{
  width: auto;
  float: none;
}


/*ESSTILO SIDMENU*/

.woocommerce-MyAccount-navigation ul{
  background-color: #111;

}

.woocommerce-MyAccount-navigation a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}

.woocommerce-MyAccount-navigation a:hover{
  background-color: orangered;
}

.woocommerce-MyAccount-navigation .is-active a{ 
  background-color: orangered;
}

.woocommerce-MyAccount-content p{
  margin-bottom: 1rem;
}

.woocommerce-MyAccount-content button{
 margin-top: 15px !important;
}

.woocommerce .woocommerce-customer-details address{
  border-width: 1px;
  border-radius: 0px;
}



/* PEDIDO RECEBIDO */


.woocommerce-order-received h2{
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-order-received  .woocommerce-thankyou-order-received{
  color: white;
  background-color: #0066bb ;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.woocommerce-order-received ul.order_details{
  background-color: #eee;
  padding: 15px;
  margin-bottom: 30px;
}

.woocommerce-order-received ul.order_details li{
  margin: 10px;
}

.woocommerce-order-received ul.order_details li strong{
 font-weight: 400;
 font-size: 1rem;
}


.woocommerce-order-received ul.order_details + p{
  margin-bottom: 30px;
}

.woocommerce-page .woocommerce-message .button{
  font-weight: normal;
  color: white;
  background-color: #0066bb;
}

.woocommerce-page .woocommerce-message .button:hover{
  background-color: #1188ee;
}


/*mercado pago*/
.wc-block-components-radio-control-accordion-content{
  padding: 5px !important;
}

.mp-wallet-button-container{
  display: none !important;
}